@font-face {
	font-family: 'after_shokregular';
	src: url('polices/After_Shok-webfont.eot');
	src: url('polices/After_Shok-webfont.eot?#iefix') format('embedded-opentype'),
	url('polices/After_Shok-webfont.woff2') format('woff2'),
	url('polices/After_Shok-webfont.woff') format('woff'),
	url('polices/After_Shok-webfont.ttf') format('truetype'),
	url('polices/After_Shok-webfont.svg#after_shokregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: '1942_report1942_report';
	src: url('polices/1942-webfont.eot');
	src: url('polices/1942-webfont.eot?#iefix') format('embedded-opentype'),
	url('polices/1942-webfont.woff2') format('woff2'),
	url('polices/1942-webfont.woff') format('woff'),
	url('polices/1942-webfont.ttf') format('truetype'),
	url('polices/1942-webfont.svg#1942_report1942_report') format('svg');
	font-weight: normal;
	font-style: normal;

}


h1 
{
	text-align: center;
	font-size: 3em;
	font-family: "after_shokregular";
	text-decoration: underline;
}

h3 
{
	font-family: "1942_report1942_report" ;
	text-align: center;
	font-weight: bold;
}

p 
{	
	text-align: left;
	color: black;
	font-size: 1em
	
}


.copyright 
{
	text-align: right;
	font-style: italic;
	font-size: 0.7em
}

.lien
{
	text-align: center;
	font-size: 0.8em
}

body
{	
	background: url("images/logo_airsoft.jpg") fixed no-repeat bottom right , url("images/wallpaper_airsoft1.jpg ") fixed

}

.imageflottante {
	float: left;
	
}

